@import "../palette.scss";

.grid-container {
    background: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .grid-pixels {
        display: flex;
        flex-direction: column;
        border: solid 1px $nice-gray;
        border-radius: 4px;
        .grid-row {
            display: flex;
            flex-direction: row;
            .grid-cell {
                border: solid 1px $nice-gray;
                display: flex;
                cursor: pointer;
                box-shadow: inset 0 0 2px #ccc;
            }
        }
    }

    .size-picker-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        background: $off-white;
        width: 720px;

        .size-option {
            border-radius: 4px;
            padding: 15px;
            color: $white;
            background: $dark-gray;
            font-size: 20px;

            &:hover {
                background: #7f8fa6;
                cursor: pointer;
            }
        }
    }
}