@import "../palette.scss";

.grid-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .grid-pixels {
        display: grid;
        background: white;
        border: solid 1px $nice-gray;
        border-radius: 4px;
        box-shadow: 0 12px 75px rgba(0,0,0,.125);
        .grid-cell {
            display: flex;
            cursor: pointer;
            box-shadow: inset 0 0 1px $nice-gray;
        }
        .pixel-hovered {
            box-shadow: inset 0 0 10px $nice-gray;
        }
    }
    .size-picker-container {
        text-align: center;
        display: grid;
        grid-gap: 15px;
        grid-template-rows: auto auto;
        span {
            font-size: 26px;
        }
        .size-picker-options-container {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto auto auto auto auto auto;
    
            .size-option {
                border-radius: 4px;
                padding: 15px;
                color: $white;
                background: $dark-gray;
                font-size: 20px;
                text-align: center;            
    
                &:hover {
                    background: #7f8fa6;
                    cursor: pointer;
                }
            }
        }
    }

    .grid-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
    }
}