@import "../palette.scss";

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .header-container {
        // height: 30px;
    }
    .center-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4px;
    }
}