.sidebar-container {
    display: flex;
    flex-direction: column;

    .color-container {

        input {
            border: none;
            border-radius: 4px;
            cursor: pointer;
            outline:none;
            height: 50px;
        }
    }
}