<div class="sidebar-container">
  <div class="control-panel-container">

    <div class="button-row">
      <button class="shadow-box undo-button" [disabled]="!canUndo" (click)="undo()">
        <i class="fas fa-undo"></i>
      </button>
      <button class="shadow-box redo-button" [disabled]="!canRedo" (click)="redo()">
        <i class="fas fa-redo"></i>
      </button>
    </div>

    <div class="button-row">
      <button class="shadow-box reset-button" (click)="reset()">
        <i class="fas fa-trash"></i>
      </button>
      <button class="shadow-box export-button" (click)="openExportModal()">
        <i class="fas fa-download"></i>
      </button>
    </div>

    <hr>
    <div class="brush-size-slider">
      <span>
        <i class="fas fa-brush"></i>&nbsp;&nbsp;Size ({{_brushSize}})</span>
      <input type="range" id="start" name="volume" class="slider-square" min="1" max="{{_gridSize}}" [(ngModel)]="sliderValue"
        (input)="brushSizeChanged($event)">
    </div>
    <div class="button-row">
      <button class="shadow-box random-palette-button" (click)="randomizePalette()">
        <i class="fas fa-random"></i>
      </button>
      <button class="shadow-box eyedrop-button" [ngClass]="{'pressed': _eyeDropperMode}" (click)="toggleEyeDropper()">
        <i class="fas fa-eye-dropper"></i>
      </button>
    </div>

    <div class="color-container">
      <div class="color-picker-box shadow-box" [(colorPicker)]="_currentColor" [cpOutputFormat]="'hex'" (cpToggleChange)="pickerState($event)"
        [cpPosition]="'bottom'" (colorPickerClose)="colorChanged($event)" [style.background]="_currentColor">
        <i *ngIf="!_colorPickerOpen" class="fas fa-palette"></i>
        <span *ngIf="_colorPickerOpen">
          <i class="fas fa-times"></i>
        </span>
      </div>

      <div class="used-colors">
        <div class="color-tile" [ngClass]="{'color-tile-selected': color === _currentColor}" *ngFor='let color of _usedColors?.slice()?.reverse()'
          [ngStyle]="{'background' : color}" (click)="setColor(color)">
          <span class="color-tile-text">{{color}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<modal id="reset-confirm-modal">
  <div class="modal">
    <div class="modal-body">
      <div class="reset-modal-container">
        <i class="fas fa-exclamation-circle"></i>
        <span class="reset-text">Are you sure you want to reset?
          <br>All current progress will be lost.</span>
        <div class="reset-options">
          <button class="reset-button shadow-box" (click)="confirmReset()">Reset</button>
          <button class="cancel-button shadow-box" (click)="closeConfirmModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

<modal id="export-options-modal">
  <div class="modal">
    <div class="modal-body">
      <div class="export-modal-container">
        <div class="export-options">
          <div class="export-option">
            <input type="radio" [(ngModel)]="exportChoice" name="export-option" [value]="3"> Large (800x800)
          </div>
          <div class="export-option">
            <input type="radio" [(ngModel)]="exportChoice" name="export-option" [value]="2"> Medium (400x400)
          </div>
          <div class="export-option">
            <input type="radio" [(ngModel)]="exportChoice" name="export-option" [value]="1"> Small (200x200)
          </div>
          <div class="export-option">
            <input type="radio" [(ngModel)]="exportChoice" name="export-option" [value]="0"> Actual Size ({{_gridSize}}x{{_gridSize}})
          </div>
        </div>

        <div class="export-buttons">
          <button class="cancel-button shadow-box" (click)="closeExportModal()">Cancel</button>
          <button class="export-button shadow-box" (click)="export()">Download</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>