<div class="sidebar-container">
  <div class="control-panel-container">
    <div class="brush-size-slider">
      <label>Brush size ({{_brushSize}}x{{_brushSize}})</label>
      <input type="range" id="start" name="volume" min="1" max="{{_gridSize}}" [(ngModel)]="sliderValue" (input)="brushSizeChanged($event)">
    </div>
    <div class="undo-buttons">
      <button class="shadow-box" (click)="undo()">Undo <i class="fas fa-undo"></i></button>
    </div>
    <div class="reset-buttons">
      <button class="shadow-box" (click)="reset()">Reset <i class="fas fa-eraser"></i>
      </button>
    </div>
    <div class="export-button">
        <button class="shadow-box" (click)="export()">Export <i class="fas fa-file-export"></i></button>
    </div>
  </div>
  <div class="color-container">
    <div class="current-color">{{_currentColor}}</div>
    <div class="color-picker-box" [(colorPicker)]="_currentColor" (cpToggleChange)="pickerState($event)" [cpPosition]="'bottom'" (colorPickerClose)="colorChanged($event)" [style.background]="_currentColor">
      <i *ngIf="!_colorPickerOpen" class="fas fa-palette"></i>
      <span *ngIf="_colorPickerOpen"><i class="fas fa-times"></i> Close</span>
    </div>
    
    <div class="used-colors">
      <div class="color-tile shadow-box" *ngFor='let color of _usedColors?.slice()?.reverse()' [ngStyle]="{'background' : color}" (click)="setColor(color)">
        <span class="color-tile-text">{{color}}</span>
      </div>
    </div>
  </div>
</div>


<modal id="reset-confirm-modal">
  <div class="modal">
      <div class="modal-body">
          <div class="reset-modal-container">
              <i class="fas fa-exclamation-circle"></i>
                <span class="reset-text">Are you sure you want to reset? 
                <br>All current progress will be lost.</span>
                <div class="reset-options">
                    <button class="reset-button" (click)="confirmReset()">Reset</button>
                    <button class="cancel-button" (click)="closeConfirmModal()">Cancel</button>
                </div>
          </div>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>