/* You can add global styles to this file, and also import other style files */
@import "/app/palette.scss";

body {
    background: $off-white;
    font-family: menco, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.shadow-box {
    box-shadow: 0 1px 3px rgba(0,0,0,.125);
    transition: all .5s ease;
    &:hover {
        box-shadow: 0 12px 75px rgba(0,0,0,.125);
        transform: translate3D(0,-1px,0);
    }
}
button {
    cursor: pointer;
    &:focus {
        outline:0;
    }

    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    color: white;
    border: none;
    height: 30px;
}

/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

    .modal {
        position: fixed;
        top: 0;
        z-index: 1000;
        overflow: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;

        .modal-body {
            padding: 20px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: 40px;
            border-radius: 4px;
        }
    }

    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}



