/* You can add global styles to this file, and also import other style files */
@import "/app/palette.scss";

body {
    background: $off-white;
    font-family: menco, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.shadow-box {
    box-shadow: 0 1px 3px rgba(0,0,0,.125);
    transition: all .5s ease;
    &:hover {
        box-shadow: 0 12px 75px rgba(0,0,0,.125) !important;
        transform: translate3D(0,-1px,0) !important;
    }
}

button {
    cursor: pointer;
}



