/* You can add global styles to this file, and also import other style files */
@import "/app/palette.scss";

body {
    background-color: #eee;
    font-family: menco, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main {
    padding: 5px;
    min-height: 420px;
    word-wrap: break-word;
    max-width: 1160px;
    margin: 0 auto;
}
.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
app-root {
    display: flex;
    justify-content: center;
}

header {
    height: 50px;
    background: $red;
    margin-bottom: 10px;

    .header-container {
        max-width: 1160px;
        margin: 0 auto;
        font-size: 30px;
        font-weight: 600;
        color: #ecf0f1;
        display: flex;
    }
}

footer {
    text-align: center;
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #2b2b2b;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 989;
}

/////// Global styles
.shadow-box {
    box-shadow: 0 1px 3px rgba(0,0,0,.125);
    transition: all .5s ease;
    &:hover {
        box-shadow: 0 12px 75px rgba(0,0,0,.125);
        transform: translate3D(0,-1px,0);
    }
}
button {
    cursor: pointer;
    &:focus {
        outline:0;
    }
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: none;
    height: 40px;
    &:disabled {
        background-color: #bdc3c7;
        color: rgba(255, 255, 255, 0.75);
        opacity: 0.7;
        filter: "alpha(opacity=70)";
        cursor: not-allowed;
        transform: none;
    }
}

button.pressed {
    box-shadow: inset 0 0 15px #7f8c8d !important;
}

/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

    .modal {
        position: fixed;
        top: 0;
        z-index: 1000;
        overflow: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;

        .modal-body {
            padding: 15px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: 40px;
            border-radius: 4px;
        }
    }

    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


.color-picker {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.125);
    border: none;
}

hr {
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-color: #bdc3c7;
    opacity: .6;
}

// range slider
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  /* The slider itself */
  input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 4px;
  }
  
  /* Mouse-over effects */
  input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3498db; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 4px;
  }
  
  input[type=range]::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3498db; /* Green background */
    border-radius: 4px;
    cursor: pointer; /* Cursor on hover */
  }

  .rainbow-btn {
    background: linear-gradient(90deg, #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #f6d365);
    background-size: 220% 200%;
  }
  
  @keyframes rainbow {
      0% { background-position: 100% 100% }
    100% { background-position: 0% 0% }
  }

  .eyedropper-cursor {
    cursor: url(/assets/eye-dropper-solid.png), auto !important;
}



